.main-area .grid {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 400px) {
    
    #nav-bar { font-size: 1rem; padding: 1rem;}

    .main-page { font-size: 0.9rem; }

    .grid span { font-size: 1rem; }

    .container { 
        width: 100%; 
        padding: 2rem 1rem;
    }

    .user-page { width: 80%; }

    .user-area label { font-size: 1rem; }

    .box-edit { padding: 1rem; }
    
}