* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #a8dadc;
    font-family: 'Maiandra GD', sans-serif;
}

.bg-red {
    background-color: red;
    color: #fcfcfc;
    padding: 0.5rem;
    border-radius: 20px;
    width: 60%;
    justify-self: center;
    text-align: center;
}

.edit {
    background-color: #a8dadc;
    border-radius: 20px;
    outline: none;
    border: none;
}

.box-edit {
    background-color: #457b9d;
    padding: 2rem;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: #3f4a58 5px 5px 10px 4px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 2.5rem;
}

/* navbar */
#nav-bar {
    background-color: #e63946;
    color: #1d3557;
    font-size: 1.5rem;
    padding: 0.7rem;
    text-align: center;
}

#nav-bar span { 
    background-color: #1d3557;
    color: #e63946;
    padding: 0.4rem;
    border-radius: 10px;
}

.form {
    display: grid;
    grid-gap: 3rem;
}

/* user page */
.user-page { 
    font-size: 1.4rem;  
    justify-self: center;
    width: 60%;
}

.user-area {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-area input {
    padding: 0.5rem 1rem;
    margin: 1.2rem 0rem;
}

.user-area button {
    padding: 0.5rem;
    background-color: #a8dadc;
    color: #1d3557;
    font-size: 1rem;
    cursor: pointer;
}

.user-area #btn2 { margin-top: 1.2rem; }

/* main-page */
.main-page { font-size: 1.15rem; }
.main-area {
    display: grid;
    grid-gap: 2.5rem;
    line-height: 1.7;
}

.main-area .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.grid span {
    font-size: 1.15rem;
    font-weight: bold;
    color: #1d3557;
}

.temp-img {
    display: flex; 
    justify-content: center;
}

.temp-img h2 {
    font-size: 2rem;
    margin-top: 1.3rem;
}

.intro { text-align: center; }
.intro h3 { font-size: 1.8rem; }

/* footer */
#foot {
    background-color: #e63946;
    color: #1d3557;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
}

